:root {
  --rojo: #e50914;
  --gris: rgb(195, 193, 193);
  --letra-principal: "Inter", sans-serif;
  --color-fondo: white;
}

img,
figure {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}

.body {
  font-family: var(--letra-principal);
  font-size: 100%;
  min-height: 100vh;
  background-color: var(--color-fondo);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

.header {
  width: auto;
  min-width: 5rem;
  background: darkslategrey;

  padding: 1rem 2rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header .h1 {
}
.header .nav {
}
.header .ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header .li {
  margin: 0 1em;
}
.header .a {
}

.main {
  background: lightgrey;
  margin: 1em 0;
  text-align: center;
}

.seccion {
  width: auto;
  min-height: 40vh;
  background: lightblue;
  margin: 1em 0;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.seccion .circulos {
}
.seccion .circulo {
}
.seccion .h2 {
}
.seccion .h3 {
}

.seccion .p {
}
.seccion .grid {
  width: 90%;
  background: lightcoral;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1em;
}
.seccion .article {
  width: 100%;
  min-height: 15vh;
  background: lightgoldenrodyellow;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: relative;
}
.seccion .a {
}

.seccion .figure {
  width: 100%;
  background: red;
}
.seccion .img {
  width: 100%;
  background: lime;
}

.seccion .h4 {
  width: 100%;
  height: 50%;
  background-color: coral;
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-flow: row nowrap;
}

.about {
}
.about .h2 {
}
.about .p {
}
.about .rrss {
}
.about .li {
}
.about .a {
}
.about .svg {
}

.footer {
  background: lightskyblue;
  padding: 3em 1em;
}
